@charset "UTF-8"; /* UTF-8編碼，使中文不會產生亂碼*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css); /* google雲端字體 思源黑體*/
/* CSS Document */
/* body */

     #tabs{
      width: 50%;       /* tabs 寬度設為50% */
      margin:0px right;
       
    }
    
    .ui-widget-content {
        border: 1px solid #aaaaaa;         /* tabs 邊框設為寬1px灰色的實線 ，可自行修改 */
        background: rgba(172,217,224,0.6); /* tabs 底色 設定為淺藍色，不透明度60%*/
        color: aliceblue;                    /* tabs 文字的顏色*/
    }
  
    img{
      width: 350px;
      height: 350px;
      position: absolute;
      top:60%;
      left:65%
    }
    body {
      background-image: url("https://storage.movie6.com/movie/22b3d_1_1650506622.jpg"); opacity: 0.9;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 200px;
      background-size:cover;
     
      
    }
	iframe
    {
  
      width: 350px;
      height: 200px;
      position: absolute;
      top:1%;
      left:65%;
    }
    
    div
    {
    background-color: rgb(150, 177, 181);
    top:30%;
	  height: 200px;
    width: 1500px;
    }
    footer
    {
      background-color: rgb(150, 177, 181);
      width: 1500px;
    }
  a{
     float: right;
  }
   
    h3
    {
      position: absolute;
      top:26.5%;
      left:65%;
    }
    main
    {
      color: aliceblue;
    }
    a:link {
      color: red;
    }
    
    
    a:visited {
      color: green;
    }
    
   
    a:hover {
      color: hotpink;
    }
    
    
    a:active {
      color: blue;
    }
   